<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>ServiceTier.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>ServiceTier.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewBookmark</servlet-name>
        <servlet-class>ServiceTier.NewBookmark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookmark</servlet-name>
        <servlet-class>ServiceTier.DeleteBookmark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookmark</servlet-name>
        <servlet-class>ServiceTier.EditBookmark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewDestination</servlet-name>
        <servlet-class>ServiceTier.NewDestination</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLocalized</servlet-name>
        <servlet-class>ServiceTier.AddLocalized</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDestinations</servlet-name>
        <servlet-class>ServiceTier.GetDestinations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookmarkList</servlet-name>
        <servlet-class>ServiceTier.BookmarkList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLocalized</servlet-name>
        <servlet-class>ServiceTier.DeleteLocalized</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDestination</servlet-name>
        <servlet-class>ServiceTier.EditDestination</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewBookmarkWithDevice</servlet-name>
        <servlet-class>ServiceTier.NewBookmarkWithDevice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookmarkWithDevice</servlet-name>
        <servlet-class>ServiceTier.DeleteBookmarkWithDevice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookmarkFromPlugin</servlet-name>
        <servlet-class>ServiceTier.EditBookmarkFromPlugin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewDestination</servlet-name>
        <servlet-class>ServiceTier.CreateNewDestination</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SyncFromHtmlFile</servlet-name>
        <servlet-class>ServiceTier.SyncFromHtmlFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportFromHTML</servlet-name>
        <servlet-class>ServiceTier.ImportFromHTML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportToHTML</servlet-name>
        <servlet-class>ServiceTier.ExportToHTML</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewBookmark</servlet-name>
        <url-pattern>/NewBookmark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookmark</servlet-name>
        <url-pattern>/DeleteBookmark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBookmark</servlet-name>
        <url-pattern>/EditBookmark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewDestination</servlet-name>
        <url-pattern>/NewDestination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLocalized</servlet-name>
        <url-pattern>/AddLocalized</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDestinations</servlet-name>
        <url-pattern>/plugin/GetDestinations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookmarkList</servlet-name>
        <url-pattern>/plugin/BookmarkList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLocalized</servlet-name>
        <url-pattern>/DeleteLocalized</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDestination</servlet-name>
        <url-pattern>/EditDestination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewBookmarkWithDevice</servlet-name>
        <url-pattern>/plugin/NewBookmarkWithDevice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookmarkWithDevice</servlet-name>
        <url-pattern>/plugin/DeleteBookmarkWithDevice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBookmarkFromPlugin</servlet-name>
        <url-pattern>/plugin/EditBookmark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewDestination</servlet-name>
        <url-pattern>/plugin/CreateNewDestination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SyncFromHtmlFile</servlet-name>
        <url-pattern>/plugin/SyncFromHtmlFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportFromHTML</servlet-name>
        <url-pattern>/ImportFromHTML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportToHTML</servlet-name>
        <url-pattern>/ExportToHTML</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
